.modalContainer {
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 319px;
    background: linear-gradient(180deg, #fdf4e2 0%, #eeddba 100%);
    border-radius: 8px;
}

.modalContainer .closeIcon {
    position: absolute;
    right: 44px;
    top: -30px;
    width: 19px;
}
.modalBottomIcon {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
