.con {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
}

.img {
    width: 335px;
    height: 34px;
    margin-bottom: 12px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: #9aa1b2;
    font-size: 11px;
    line-height: 18px;
}

.button {
    color: #0051cc;
    font-size: 11px;
    margin-left: 2px;
}

.bg {
    width: 343;
    height: 18px;
}
