.container {
    flex: 1;
}

.topRightBtn {
    flex: 1;
    width: 64px;
    margin-right: 14px;
}

.right_sty {
    font-size: 14px;
    line-height: 20px;
    color: #121d3a;
}

.card_sty {
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.title_sty {
    color: #121d3a;
    font-size: 16px;
    font-family: DINAlternate-Bold;
    font-weight: bold;
    flex: 1;
    margin-right: 12px;
}

.time_Sty {
    color: #9aa1b2;
    font-size: 12px;
    margin-top: 4px;
}

.content_sty {
    color: #545968;
    line-height: 18px;
    flex: 1;
    text-align: justify;
    margin-right: 16px;
    font-size: 12px;
}

.content_wrap_sty {
    margin: 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cover_img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 144px;
    width: calc(100vw - 16px * 2);
}

.card_title {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 10px;
}
