.container {
    height: 100vh;
    background-color: #f5f6f8;
}

.btn {
    margin-top: 28px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #0051cc;
    height: 45px;
    border-radius: 6px;
    width: 335px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.inputRightText {
    font-size: 14px;
    line-height: 20px;
    color: #0051cc;
}
