.container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: #f5f6f8;
    .wrap {
        position: relative;
    }
    .topBg {
        width: 100%;
    }
    .cardsWrap {
        padding: 0 16px;
        width: 100%;
        position: absolute;
        top: 206px;
        z-index: 1;
        .cardWrap {
            background-color: #fff;
            border-radius: 6px;
            padding: 10px;
            .cardHeader {
                display: flex;
                justify-content: flex-end;
                .detailBtnText {
                    font-size: 11px;
                    color: #545968;
                    line-height: 15px;
                }
                .detailBtnIcon {
                    width: 10px;
                    height: 10px;
                }
            }
            .cardTitle {
                text-align: center;
                font-size: 16px;
                color: #121d3a;
                line-height: 22px;
            }
            .tagsWrap {
                margin-top: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                .tagWrap {
                    border-radius: 2px;
                    border: 1px solid #bdc2cc;
                    padding: 2px 4px;
                    font-size: 9px;
                    color: #545968;
                    line-height: 13px;
                }
            }
            .rateWrap {
                margin-top: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                .rateNum {
                    font-size: 24px;
                    font-family: DINAlternate-Bold-, DINAlternate-Bold;
                    line-height: 28px;
                    text-align: center;
                }
                .rateLabel {
                    margin-top: 3px;
                    text-align: center;
                    font-size: 11px;
                    color: #9aa0b1;
                    line-height: 15px;
                }
            }
            .contentWrap {
                margin-top: 12px;
                margin-bottom: 20px;
                margin-left: 6px;
                margin-right: 21px;
                display: flex;
                .contentIcon {
                    width: 12px;
                    height: 12px;
                }
                .contentText {
                    flex: 1;
                    margin-left: 4px;
                    font-size: 13px;
                    color: #545968;
                    line-height: 20px;

                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow-wrap: break-word;
                    word-break: break-all;
                    white-space: normal;
                    overflow: hidden;
                }
            }
            .btnWrap {
                margin: 0 auto;
                margin-bottom: 14px;
                width: 279px;
                padding: 11px 0;
                background: #0051cc;
                text-align: center;
                border-radius: 6px;
                font-size: 16px;
                color: #ffffff;
                line-height: 22px;
                font-weight: bold;
            }
        }
    }
}
