.flexBetween {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container {
    height: 100vh;
    overflow-y: auto;
    background-color: #f5f6f8;
    border-color: 0.5;
    border-width: 1px;
    padding: 0 16px;

    :global {
        .adm-collapse-panel-header {
            background-color: #fff;
            margin-top: 12px;
        }

        .adm-collapse-panel-content {
            background-color: #fff;
        }

        .adm-list-item-content {
            border: 0;
        }
    }

    .icon_ques {
        width: 20px;
        height: 20px;
        margin-top: 2px;
        margin-right: 4px;
    }

    .headerText {
        font-size: 15px;
        line-height: 22px;
        font-weight: bold;
        margin-left: 6px;
        flex: 1;
    }

    .content {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .content_text {
        font-size: 13px;
        color: #9aa1b2;
        line-height: 20px;
        text-align: justify;
    }
}
