.text {
    color: #545968;
    font-size: 11px;
    line-height: 16px;
}

.agreement_text {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 4px;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 18px;
}
