body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section 
  margin 0
  padding 0
  box-sizing border-box

/* 取消input上的默认样式 */
input[type=button] 
  -webkit-appearance none
  outline none

button
  border none
  outline none

// img
//   pointer-events none
//   -webkit-user-select none
//   -moz-user-select none
//   -webkit-user-select none
//   -o-user-select none
//   user-select none

input:focus
  outline none
input
  background none
  outline none 
  border none
  -webkit-appearance none
  border-radius 0

body
  background: #F5F6F8
  font-family: PingFang SC

body, html 
  width: 100%
  height: 100%
  touch-action: none
  -webkit-touch-callout: none

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder
  color: #CCD0DB !important
input::-moz-placeholder, textarea::-moz-placeholder
  color: #CCD0DB !important
input:-moz-placeholder, textarea:-moz-placeholder
  color: #CCD0DB !important
input:-ms-input-placeholder, textarea:-ms-input-placeholder
  color: #CCD0DB !important