// 弹性布局
.defaultFlex
  display flex
  display -webkit-flex
  align-items center
.flexBetween
  display flex
  display -webkit-flex
  justify-content space-between
  align-items center
.flexEnd
  display flex
  display -webkit-flex
  justify-content flex-end
  align-items center
.flexAround
  display flex
  display -webkit-flex
  justify-content space-around
  align-items center
.flexColumn
  display flex
  flex-direction column
  justify-content center
  display -webkit-flex
  align-items center
.flexCenter
  display flex
  display -webkit-flex
  align-items center
  justify-content center
.flexRow
  display flex
  display -webkit-flex
  flex-direction: row
  align-items center
  justify-content center