.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #fff;
    padding: 20px 0;
    margin-bottom: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 14px;
    margin-bottom: 20px;
}

.titleWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 16px;

    .tagWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
        padding: 0 5px;
        border-radius: 2px;
        height: 20px;

        .tag {
            font-size: 11px;
        }
    }
}

.tableWrap {
    width: 100%;
    padding: 0 20px;
}

.header_text {
    font-size: 12px;
    color: #545968;
    line-height: 22px;
}

.bold_text {
    font-size: 32px;
    color: #121d3a;
    line-height: 37px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tip {
    background-color: #f5f6f8;
    border-radius: 6px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
    padding: 16px;
}

.tip_card {
    background-color: #fae8e8;
    padding: 16px;
    margin: 16px;
    margin-bottom: 0;
    border-radius: 6px;
}

.button {
    flex: 1;
    background-color: #fff;
    border-color: #545968;
    border-width: 0.5px;
}

// ----------------

.container {
    flex: 1;
    background-color: #f5f6f8;
}

.systemMsgContainer {
    background-color: #fff5e5;
    padding-top: 8px;
    padding-bottom: 12px;
    padding-right: 38px;
    padding-left: 16px;
}

.systemMsgText {
    font-size: 13px;
    line-height: 18px;
    color: #eb7121;
    text-align: justify;
}

.closeSystemMsg {
    position: absolute;
    right: 12px;
    top: 10px;
}

.btn {
    border-radius: 14px;
    padding: 5px 10px;
    background-color: #ff7d41;
}

.btn_text {
    font-weight: 600;
    color: #fff;
    font-size: 12px;
    line-height: 17px;
}

.header {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 16px;
}

.header_right {
    font-size: 14px;
    width: 48px;
    color: #121d3a;
}

.name {
    font-size: 14px;
    color: #121d3a;
    font-weight: 700;
    line-height: 20px;
}

.card_title {
    font-size: 14px;
    color: #121d3a;
}

.line {
    width: 1px;
    background-color: #e2e4ea;
    margin-left: 4px;
    position: absolute;
    top: 22px;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #9aa1b2;
    margin-right: 17px;
    position: relative;
    z-index: 10;
    margin-top: 18px;
}

.card {
    border-radius: 8;
    background-color: #fff;
    flex: 1;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 12px;
}

.date {
    font-size: 12px;
    font-family: DIN-Regular;
    color: #9aa0b1;
}

.trangle {
    border-width: 7px;
    border-right-color: #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    position: absolute;
    left: px(-26);
}

.buy_table {
    border-top-width: 0.5;
    border-color: #e9eaef;
}

.light_text {
    font-size: 12px;
    line-height: 17px;
    color: #9aa0b1;
}

.fund_item {
    border-top-width: 0.5;
    border-color: #e9eaef;
    padding-top: 8px;
    padding-bottom: 8px;
}

.fund_name {
    font-size: 13px;
    line-height: 18px;
    color: #545968;
    width: 163px;
}

.fund_amount {
    font-size: 12px;
    font-family: DIN-Medium;
    color: #545968;
}

.header_text {
    font-size: 12px;
    color: #545968;
    line-height: 22px;
}

.bold_text {
    font-size: 32px;
    font-family: DINAlternate-Bold;
    color: #121d3a;
    line-height: 37px;
}

.tip {
    background-color: #f5f6f8;
    border-radius: 6px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
    padding: 16px;
}

.button {
    flex: 1;
    background-color: #fff;
    border-color: #545968;
    border-width: 0.5;
}

.tip_card {
    background-color: #fae8e8;
    padding: 16px;
    margin: 16px;
    margin-bottom: 0;
    border-radius: 6px;
}

.compareText {
    font-size: 13px;
    color: #545b6c;
    line-height: 18px;
    width: 113px;
}

.transferName {
    font-size: 16px;
    line-height: 22px;
    color: #121d3a;
}

.transferGateway {
    margin-top: 2px;
    font-size: 12px;
    line-height: 17px;
    color: #9aa0b1;
}

.transferIcon {
    margin-top: 7px;
    margin-left: 6px;
    margin-right: 6px;
    width: 13px;
    height: 9px;
}
