.GoalRedeem {
    background-color: #f5f6f8;
}

.topPart {
    width: 100%;
    background: linear-gradient(180deg, #1e5ae7 60%, rgba(0, 81, 204, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 92px; */
    padding-top: 8px;
    padding-bottom: 115px;
}

.tagWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.tagItem {
    border-radius: 4px;
    border: 1px solid #f1f6ff;
    padding: 2px 7px;
    font-size: 12px;
    color: #fff;
    line-height: 17px;
    margin: 0 5px;
    margin-bottom: 7px;
}

.topPartDesc {
    font-size: 12px;
    color: #ffffff;
    line-height: 17px;
    text-align: center;
    padding: 0 16px;
}

.mainCardWrap {
    padding: 0 16px;
}

.mainCardWrap > img {
    display: block;
    width: 100%;
    position: relative;
}

.cardWrap {
    background: #ffffff;
    border-radius: 8px;
    padding: 16px;
    margin: 0 16px;
    margin-top: 16px;
}

.cardTitle {
    font-size: 16px;
    color: #121d3a;
    line-height: 22px;
}

.cardHint {
    font-size: 12px;
    font-weight: normal;
    color: #545968;
    line-height: 17px;
    padding: 16px;
    background-color: #f5f6f8;
    margin-top: 12px;
    border-radius: 6px;
    position: relative;
}

.commaImg {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 6px;
    left: 6px;
}

.cardHintText {
    position: relative;
    z-index: 2;
}

.rateBackTestDataImg {
    margin: 0 auto;
    margin-top: 14px;
    width: 223px;
    height: 93px;
}

.cardDesc {
    margin-top: 16px;
    font-size: 12px;
    color: #545968;
    line-height: 17px;
}

.cardRateDesc {
    font-size: 13px;
    color: #121d3a;
    line-height: 18px;
    margin-top: 12px;
}

.explainTitle {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.explainTitleIcon {
    width: 20px;
    height: 20px;
}

.explainTitleText {
    margin-left: 4px;
    font-size: 16px;
    color: #121d3a;
    line-height: 22px;
}

.explainDesc {
    margin-top: 7px;
}
