.container {
    border-radius: 6px 6px 0 0;
    background-color: #fff;
    min-height: 300px;
    overflow: auto;
    padding-bottom: 20px;

    .header {
        padding: 16px 0;
        --hairline-width: 0;
        --hairline-color: #e9eaef;

        .close {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 100%;
        }

        .title {
            margin: 0 16px;
            font-size: 16px;
            line-height: 22px;
            color: #121d3a;
            font-weight: 700;
            max-width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;

            .subTitle {
                margin-top: 6px;
                font-size: 13px;
                line-height: 18px;
                color: #eb7121;
            }
        }

        .confirm {
            position: absolute;
            right: 16px;
            font-size: 14px;
            line-height: 20px;
            color: #0051cc;
        }
    }

    .listBox {
        height: 500px;
        overflow: auto;
        padding: 0 16px;
    }

    .bankCard {
        --hairline-width: 0;
        --hairline-color: #e9eaef;
        height: 62px;

        .bankIcon {
            margin-right: 12px;
            width: 32px;
            height: 32px;
        }

        .bankName {
            font-size: 14px;
            line-height: 20px;
            color: #121d3a;
            font-weight: 500;
        }

        .bankLimit {
            margin-top: 8px;
            font-size: 11px;
            line-height: 16px;
            color: #80899b;
        }

        .largePayTip {
            margin-bottom: 20px;
            margin-left: 8px;
            padding: 6px;
            border-radius: 4px;
            background-color: #fff5e5;
            font-size: 12px;
            line-height: 17px;
            color: #eb7121;
        }
    }
}

.passwordBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 200px;
    padding-top: 20px;

    ::gloabl(.adm-number-keyboard-header) {
        display: none;
    }
}

.tip {
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: right;
    color: #0051cc;
}

.verifyCodeModal {
    min-height: auto;

    .contentBox {
        margin: 20px 20px 0;
    }

    .descText {
        font-size: 14px;
        line-height: 20px;
        color: #545968;
        text-align: justify;
    }

    .inputWrapper {
        margin-top: 12px;
        border-radius: 6px;
        overflow: hidden;
        height: 50px;

        .input {
            background-color: #f5f6f8;
            height: 100%;
            padding-left: 20px;
            flex: 1;
        }

        .sendCodeBtn {
            width: 100px;
            height: 100%;
            font-size: 12px;
            line-height: 17px;
            color: #fff;
        }
    }

    :global(.fixed-button) {
        margin-top: 24px;
        position: relative;
        height: auto;
    }
}
