.PortfolioAssetList {
    background-color: #f5f6f8;

    .headerCon {
        box-shadow: 0px 4px 10px 0px rgba(170, 170, 170, 0.102);
        padding: 16px;
        background-color: #ffffff;
        border-radius: 6px;
        margin: 12px 16px;
        position: relative;
    }

    .rightIcon {
        position: absolute;
        right: 16px;
        top: 16px;
    }

    .assetInfo {
        font-size: 12px;
        color: #545968;
        line-height: 17px;
    }

    .assetValue {
        font-size: 26px;
        font-family: DIN Alternate-Bold, DIN Alternate;
        font-weight: bold;
        color: #121d3a;
        line-height: 36px;
        margin-top: 4px;
        margin-bottom: 12px;
    }

    .profitVaule {
        font-size: 14px;
        font-family: DIN Alternate-Bold, DIN Alternate;
        font-weight: bold;
        line-height: 20px;
        margin-left: 4px;
    }

    .tag {
        width: 3px;
        height: 12px;
        background-color: #121d3a;
        margin-right: 13px;
    }

    .holdTitle {
        font-size: 14px;
        color: #121d3a;
        font-weight: 500;
        line-height: 20px;
    }

    .holdCard {
        background: #ffffff;
        box-shadow: 0px 4px 10px 0px rgba(170, 170, 170, 0.102);
        border-radius: 6px 6px 6px 6px;
        padding: 12px;
        border-radius: 6px;
        margin: 0 16px 8px 16px;

        .name {
            font-size: 12px;
            font-weight: 600;
            color: #121d3a;
            line-height: 17px;
        }

        .holdDay {
            font-size: 11px;
            font-weight: normal;
            color: #545968;
            margin-bottom: 6px;
            line-height: 15px;
        }

        .darkText {
            font-size: 12px;
            font-family: DIN-Medium, DIN;
            font-weight: 500;
            color: #121d3a;
            line-height: 17px;
            margin-bottom: 5px;
        }

        .lightText {
            font-size: 11px;
            font-family: DIN-Regular, DIN;
            font-weight: 400;
            color: #545968;
            line-height: 15px;
        }

        .adviser {
            font-size: 16px;
            color: #9aa0b1;
            transform: scale(0.625);
            line-height: 14px;
            transform-origin: 0 0;
        }

        .profit {
            font-family: DIN-Medium, DIN;
            font-weight: 500;
        }
    }

    // .profitCon {}
}
